* {
  box-sizing: border-box;
}

/* App.vue style */
:root {
  --orange: #ffa600;
  --shadow: #ffa60094;
  --whit: #fff;
  --gray: #b1b1b1c6;
}
/* animations */
@keyframes in {
  100% {
    opacity: 1;
    filter: none;
    visibility: visible;
  }
}
@keyframes out {
  50% {
    opacity: 0.5;
    filter: blur(3px);
  }
  100% {
    opacity: 0;
    filter: blur(0);
  }
}

/* main nav bar and it's menu style */
.content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid var(--orange);
}
.logo {
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  color: var(--orange);
}
.links {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-left: 35%;
}
.links .links-router {
  color: var(--orange);
  font-size: 17px;
  font-weight: 400;
}
.links-router:hover {
  transition: all 0.5s;
  font-size: 20px;
  font-weight: 600;
}
.icon {
  cursor: pointer;
  width: 43px;
  height: 43px;
}
#menu {
  display: none;
}
#menu-bar {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--orange);
  z-index: 1;
}
.close {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
  color: var(--whit);
  font-size: 18px;
  font-weight: 700;
}
.links2 {
  padding-left: 10px;
  display: block;
  color: var(--whit);
  font-size: 18px;
  font-weight: 700;
}

#bascketBar {
  padding: 1px;
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 25%;
  height: auto;
  background-color: var(--gray);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}
.btnBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Bascketbtn {
  text-align: center;
  background-color: var(--orange);
  width: 80%;
  cursor: pointer;
  color: var(--whit);
  font-size: 17px;
  font-weight: 900;
  padding: 5px;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* media query */
@media screen and (max-width: 1100px) {
  #bascketBar {
    width: 35%;
  }
  .cardSection {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 60%;
  }
}
@media screen and (max-width: 850px) {
  #bascketBar {
    width: 45%;
  }
  .header {
    height: 400px;
  }
  .titr {
    font-size: 30px;
    font-weight: 900;
  }
  .headerText {
    width: 60%;
  }
  .p {
    font-size: 15px;
    font-weight: 600;
  }
  .box {
    width: 60%;
  }
  .aboutcard {
    width: 48%;
  }
  .card3 {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  #menu {
    display: inline;
  }
  .links {
    display: none;
  }
  #bascketBar {
    width: 55%;
  }
  .titr {
    font-size: 25px;
    font-weight: 900;
  }

  .p {
    font-size: 10px;
    font-weight: 600;
  }
  .box {
    width: 80%;
  }
  input {
    left: 30px;
  }
  label {
    left: 20px;
  }
  span {
    left: 5px;
    font-size: 17px;
    font-weight: 600;
  }
  .headerHome {
    height: 400px;
  }
}
@media screen and (max-width: 400px) {
  .box {
    top: 0px;
  }
  #boxText {
    height: 80px;
  }
  .formBtn {
    height: 30px;
  }
  span {
    font-size: 14px;
  }
  label {
    font-size: 18px;
  }
  .box {
    width: 100%;
    height: 100%;
  }
  .section1 {
    margin-left: -14px;
  }
  .section2 {
    margin-left: 10px;
  }
  .cardSection {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 80%;
  }
}